<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.kde_db.dao.ChatMapper">

    <insert id="insertMessage" parameterType="com.my.kde_db.dto.ChatMessage">
        INSERT INTO chat_message (name, nickname, message, created_at, state)
        VALUES (#{name}, #{nickname}, #{message}, NOW(), #{state})
    </insert>

    <select id="getMessages" resultType="com.my.kde_db.dto.ChatMessage">
        SELECT id, name,nickname, message, created_at AS createdAt, state
        FROM chat_message
        ORDER BY created_at ASC
    </select>

</mapper>
