<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.kde_db.dao.FriendListMapper">
    <select id="findAllUsersExceptUserId" parameterType="String" resultType="com.my.kde_db.dto.FriendInfo">
        SELECT * FROM user
        WHERE id != #{id}
        ORDER BY name
    </select>

    <select id="getUserCountExcludingCurrentUser" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user
        WHERE id != #{id}
    </select>
</mapper>
