<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.kde_db.dao.LeftProfileMapper">



    <select id="findByWnumber" resultType="com.my.kde_db.dto.LeftProfile" parameterType="int">
        SELECT name, nickname, introduction, pagename, image
        FROM user
        WHERE number = #{w_number}
    </select>

    <update id="updateProfile" parameterType="com.my.kde_db.dto.LeftProfile">
        UPDATE user
        SET name = #{profile.name}, nickname = #{profile.nickname}, introduction = #{profile.introduction},
            pagename = #{profile.pagename}, image = #{profile.image}
        WHERE id = #{id}
    </update>






</mapper>