<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.kde_db.dao.PostCommentMapper">

    <insert id="writeComment" parameterType="com.my.kde_db.dto.PostComment">
        INSERT INTO post_comment (comment, date, post_number, user_number)
        VALUES (#{comment}, SYSDATE(), #{post_number}, #{user_number})
    </insert>


    <delete id="deleteComment" parameterType="map">
        DELETE FROM post_comment
        WHERE number = #{commentId}
          AND post_number = #{postId}
    </delete>

    <update id="updateComment" parameterType="map">
    UPDATE post_comment
    SET comment = #{comment}, date = SYSDATE()
    WHERE number = #{commentId}
    AND post_number = #{postId}
    </update>

</mapper>