<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.kde_db.dao.UserMapper">

	<select id = "findByIdAndPw" parameterType = "User" resultType ="User">
		SELECT * FROM user
		WHERE id =#{id} AND password =MD5(#{password})
	</select>


	<select id = "findById" parameterType ="String" resultType="User">
	
		SELECT * FROM user
		WHERE id=#{id}
	
	</select>
	
	<select id = "findByNickname" parameterType ="String" resultType = "User">

		SELECT * FROM user
		WHERE nickname = #{nickname}

	</select>
	 		
	<insert id = "save" parameterType = "User">
		INSERT INTO user
		(
			id,
			password,
			name,
			nickname,
			birthday
		)
		VALUES
		(
			#{id},
			<if test="password != null">MD5(#{password})</if>,
			#{name},
            #{nickname},
			#{birthday}
		)
	

	</insert>

	<insert id="saveSimpleUser" parameterType="com.my.kde_db.vo.SimpleUser">
		INSERT INTO USER (id, name) VALUES (#{id}, #{name})
	</insert>





	
	
</mapper>