* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: initial;
}

.mypage-page {
  width: 1600px;
  height: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  border-radius: 20px;
}

.mypage-title {
  position: relative;
  width: 400px;
  height: 70px;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -3%);
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.mypage-viewcountbox {
  position: absolute;
  width: 330px;
  height: 35px;
  left: 50%;
  top: 12%;
  transform: translate(-50%, -12%);
  border: 2px solid;
  border-radius: 20px;
}

.mypage-today {
  position: absolute;
  width: 130px;
  height: 35px;
  left: 20%;
  top: 12%;
  transform: translate(-20%, -12%);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.mypage-total {
  position: absolute;
  width: 130px;
  height: 35px;
  right: 20%;
  top: 12%;
  transform: translate(20%, -12%);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.spring1 {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 15%;
  left: 28%;
  transform: translate(-28%, -15%);
  border: 2px solid;
  border-radius: 20px;
  z-index: 1;
  background-color: #D9D9D9;
}

.spring2 {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 20%;
  left: 28%;
  transform: translate(-28%, -20%);
  border: 2px solid;
  border-radius: 20px;
  z-index: 1;
  background-color: #D9D9D9;
}

.profile-image {
  position: relative;
  width: 300px;
  height: 300px;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -14%);
  background-image: url(../../public/profile_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px;
  border: none;
  border-radius: 20px;
}

.profile-edits-form {
  position: absolute;
  width: 330px;
  height: 350px;
  left: 50%;
  bottom: 6.5%;
  transform: translate(-50%, 6.5%);
  border: none;
  border-radius: 20px;
}

.feeling {
  position: absolute;
  width: 330px;
  height: 35px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  border: 2px solid;
  border-radius: 20px;
}

.feeling-select {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  border: none;
  text-align: center;
  text-indent: 10px;
}

.feeling-select:focus {
  outline: none;
}

.mypage-descriptionbox {
  position: absolute;
  width: 330px;
  height: 230px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  border-radius: 20px;
}

.mypage-description {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  resize: none;
  overflow: hidden;
  font-size: 20px;
}

.mypage-description:focus {
  outline: none;
}

.spring3 {
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: 20%;
  left: 28%;
  transform: translate(-28%, -20%);
  border: 2px solid;
  border-radius: 20px;
  z-index: 1;
  background-color: #D9D9D9;
}

.spring4 {
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: 15%;
  left: 28%;
  transform: translate(-28%, -15%);
  border: 2px solid;
  border-radius: 20px;
  z-index: 1;
  background-color: #D9D9D9;
}

.link {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 260px;
  height: 35px;
  left: 0%;
  bottom: 0%;
  transform: translate(-0%, 0%);
  border: 2px solid;
  border-radius: 20px;
  text-indent: 0;
  text-align: center;
}

.link::placeholder {
  text-indent: 0;
}

.confirm {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 60px;
  height: 35px;
  right: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 20px;
  text-indent: 0;
  font-size: 15px;
  background-color: #BDBDBD;
}

.mypage-profile {
  width: 430px;
  height: 850px;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-2%, -50%);
  border: 2px solid;
  border-radius: 20px;
}

.mypage-body {
  width: 1000px;
  height: 850px;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(20%, -50%);
  border: 2px solid;
  border-radius: 20px;
  background-color: white;
}

.menu-profile {
  width: 120px;
  height: 180px;
  position: absolute;
  top: 8%;
  right: 1.5%;
  transform: translate(1.5%, -8%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;

  font-size: 20px;
  text-indent: 15px;
}

.menu-notice {
  width: 120px;
  height: 180px;
  position: absolute;
  top: 36%;
  right: 1.5%;
  transform: translate(1.5%, -36%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;

  font-size: 20px;
  text-indent: 15px;
}

.menu-guest {
  width: 120px;
  height: 180px;
  position: absolute;
  bottom: 36%;
  right: 1.5%;
  transform: translate(1.5%, 36%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;

  font-size: 20px;
  text-indent: 15px;
}

.menu-friends {
  width: 120px;
  height: 180px;
  position: absolute;
  bottom: 8%;
  right: 1.5%;
  transform: translate(1.5%, 8%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;

  font-size: 20px;
  text-indent: 15px;
}

.profile-bookmark-hidden {
  width: 10px;
  height: 176px;
  position: absolute;
  right: -0.7%;
  top: 5.2%;
  transform: translate(-0.7%, -5.2%);
  border: 0px solid;
  background-color: white;
}

.profile-page-image {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  background-image: url(../../public/profile_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 350px;
  border: none;
  border-radius: 20px;
}

.profile-settings-form {
  position: absolute;
  width: 780px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 20px;
}

.profile-introduction {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0%;
  right: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 25px;

  resize: none;
  overflow: hidden;
  font-size: 20px;
  padding: 15px;

  margin: 0;
}

.profile-nickname {
  position: absolute;
  width: 350px;
  height: 50px;
  bottom: 20%;
  left: 0%;
  transform: translate(0%, 20%);
  border: 2px solid;
  border-radius: 25px;
  text-indent: 0px;
  text-align: center;

  margin: 0;
}

.profile-nickname::placeholder {
  text-indent: 0px;
  text-align: center;
}

.profile-pagename {
  position: absolute;
  width: 350px;
  height: 50px;
  right: 0%;
  bottom: 20%;
  transform: translate(0%, 20%);
  border: 2px solid;
  border-radius: 25px;
  text-indent: 0px;
  text-align: center;

  margin: 0;
}

.profile-pagename::placeholder {
  text-indent: 0px;
  text-align: center;
}

.profile-image-change {
  position: absolute;
  width: 350px;
  height: 50px;
  left: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 25px;
  background-color: white;
  text-indent: 0px;

  margin: 0;
}

.profile-submit {
  position: absolute;
  width: 350px;
  height: 50px;
  right: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 25px;
  text-indent: 0px;
  text-align: center;
  background-color: #BDBDBD;

  margin: 0;
}

.notice-bookmark-hidden {
  width: 10px;
  height: 176px;
  position: absolute;
  top: 35.1%;
  right: -0.7%;
  transform: translate(-0.7%, -35.1%);
  border: 0px solid;
  background-color: white;
}

.guest-bookmark-hidden {
  width: 10px;
  height: 176px;
  position: absolute;
  bottom: 35.1%;
  right: -0.7%;
  transform: translate(-0.7%, 35.1%);
  border: 0px solid;
  background-color: white;
}

.friend-bookmark-hidden {
  width: 10px;
  height: 176px;
  position: absolute;
  bottom: 5.2%;
  right: -0.7%;
  transform: translate(-0.7%, 5.2%);
  border: 0px solid;
  background-color: white;
}