/* login */
/* 1700 1062 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
}

.login-component {
  width: 100vw;
  height: 100vh;
}

.login-page {
  width: 533px;
  height: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  border-radius: 20px;
}

.login-title {
  width: 533px;
  height: 215px;
}

.login-miniwappy {
  width: 200px;
  height: 50px;
  position: relative;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0%);
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.login-login {
  width: 100px;
  height: 40px;
  position: relative;
  left: 50%;
  top: 85px;
  transform: translate(-50%, 0%);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.05em;
  text-align: center;
}

.login-form {
  position: relative;
  width: 533px;
  height: 228px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.login-id {
  position: relative;
  width: 444px;
  height: 66px;
  margin: 0 0 15px 0;
  border: 3px solid;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  text-indent: 55px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.login-password {
  position: relative;
  width: 444px;
  height: 66px;
  margin: 0 0 15px 0;
  border: 3px solid;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  text-indent: 55px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.login-submit {
  position: relative;
  width: 444px;
  height: 66px;
  margin: 0;
  border: 3px solid;
  border-radius: 20px;
  font-weight: 400;
  left: 50%;
  transform: translate(-50%, 0%);

  background-color: #BDBDBD;
  font-size: 24px;
  letter-spacing: -0.05em;
  text-indent: 0;
}

#id {
  background-image: url(../../public/id.png);
  background-repeat: no-repeat;
  background-position: 22px center;
}

#password {
  background-image: url(../../public/password.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}

#submit {
  background-color: #BDBDBD;
  font-size: 24px;
  letter-spacing: -0.05em;
  font-weight: 400;
  text-indent: 0;
}

.login-others {
  width: 533px;
  height: 250px;
}

.login-signup {
  display: block;
  width: 66px;
  height: 23px;
  position: relative;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0%);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: black;
}

.login-login-exception {
  display: block;
  width: 145px;
  height: 20px;
  position: relative;
  left: 50%;
  top: 60px;
  transform: translate(-50%, 0%);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
  text-decoration: none;
  color: #0095FF;
}

/* signup */

.signup-page {
  width: 1600px;
  height: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  border-radius: 20px;
}

.miniwappy-signup {
  width: 200px;
  height: 50px;
  position: absolute;
  left: 3%;
  top: 7%;
  transform: translate(-3%, -7%);
  font-size: 40px;
  font-weight: 800;
  line-height: 77.45px;
  text-align: center;
}

.signup-signup {
  width: 200px;
  height: 40px;
  position: absolute;
  left: 3%;
  top: 17%;
  transform: translate(-3%, -17%);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.05em;
  text-align: center;
}

.signup-form {
  position: absolute;
  width: 1060px;
  height: 390px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signup-form > * {
  position: absolute;
  width: 1060px;
  height: 385px;
  left: 17%;
  top: 50%;
  transform: translate(-17%, -50%);
}

.signup-form > * > input {
  width: 500px;
  height: 66px;
  margin: 15px;
  border: 3px solid;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  text-indent: 55px;
}

#enter-code {
  background-image: url(../../public/enter_code.png);
  background-repeat: no-repeat;
  background-position: 18px center;
}

#name {
  background-image: url(../../public/id.png);
  background-repeat: no-repeat;
  background-position: 22px center;
}

#nickname {
  background-image: url(../../public/id.png);
  background-repeat: no-repeat;
  background-position: 22px center;
}

#id {
  background-image: url(../../public/id.png);
  background-repeat: no-repeat;
  background-position: 22px center;
}

#password {
  background-image: url(../../public/password.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}

#passwordverify {
  background-image: url(../../public/password.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}

#dob {
  background-image: url(../../public/dob.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}

#submit {
  background-color: #BDBDBD;
  font-size: 24px;
  letter-spacing: -0.05em;
  text-indent: 0;
  text-align: center;
}
