* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: initial;
}

.mypageleft-component {
  width: 100%;
  height: 100%;
}

.mypage-page {
  width: 1600px;
  height: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  border-radius: 20px;
  /* box-shadow: 10px 10px black; */
}

.mypage-title {
  position: relative;
  width: 400px;
  height: 70px;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -3%);
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.mypage-viewcountbox {
  position: absolute;
  width: 330px;
  height: 35px;
  left: 50%;
  top: 12%;
  transform: translate(-50%, -12%);
  border: 2px solid;
  border-radius: 20px;
}

.mypage-today {
  position: absolute;
  width: 130px;
  height: 35px;
  left: 20%;
  top: 12%;
  transform: translate(-20%, -12%);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.mypage-total {
  position: absolute;
  width: 130px;
  height: 35px;
  right: 20%;
  top: 12%;
  transform: translate(20%, -12%);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.spring1 {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 15%;
  left: 28%;
  transform: translate(-28%, -15%);
  border: 2px solid;
  border-radius: 20px;
  z-index: 1;
  background-color: #D9D9D9;
}

.spring2 {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 20%;
  left: 28%;
  transform: translate(-28%, -20%);
  border: 2px solid;
  border-radius: 20px;
  z-index: 1;
  background-color: #D9D9D9;
}

.profile-image {
  position: relative;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 14%;
  transform: translate(-50%, -14%);
  background-image: url(../../../public/profile_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px;
  border: none;
  border-radius: 20px;
}

.profile-edits-form {
  position: absolute;
  width: 330px;
  height: 350px;
  left: 50%;
  bottom: 6.5%;
  transform: translate(-50%, 6.5%);
  border: none;
  border-radius: 20px;
}

.feeling {
  position: absolute;
  width: 330px;
  height: 35px;
  left: 50%;
  top: 57.3%;
  transform: translate(-50%, -57.3%);
  border: 2px solid;
  border-radius: 20px;

  font-size: 25px;
  text-align: center;
}

.name-and-nickname {
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
  padding: 2px;
}

.feeling-select {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  border: none;
  text-align: center;
  text-indent: 10px;
}

.feeling-select:focus {
  outline: none;
}

.mypage-descriptionbox {
  position: absolute;
  width: 330px;
  height: 230px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  border-radius: 20px;
}

.mypage-description {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  resize: none;
  overflow: hidden;
  font-size: 20px;
}

.mypage-description:focus {
  outline: none;
}

.spring3 {
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: 20%;
  left: 28%;
  transform: translate(-28%, -20%);
  border: 2px solid;
  border-radius: 20px;
  z-index: 1;
  background-color: #D9D9D9;
}

.spring4 {
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: 15%;
  left: 28%;
  transform: translate(-28%, -15%);
  border: 2px solid;
  border-radius: 20px;
  z-index: 1;
  background-color: #D9D9D9;
}

.profile-image-change {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 155px;
  height: 35px;
  left: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 20px;
  font-size: 15px;
  text-indent: 0;
  text-align: center;
}

.confirm {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 155px;
  height: 35px;
  right: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 20px;
  text-indent: 0;
  font-size: 15px;
  background-color: #BDBDBD;
}

.mypage-profile {
  width: 430px;
  height: 850px;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-2%, -50%);
  border: 2px solid;
  border-radius: 20px;
  /* box-shadow: 10px 10px black; */
}

.mypage-body {
  width: 1000px;
  height: 850px;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(20%, -50%);
  border: 2px solid;
  border-radius: 20px;
  background-color: white;
  /* box-shadow: 10px 10px black; */
}

.menu-home {
  width: 120px;
  height: 140px;
  position: absolute;
  top: 8%;
  right: 1.5%;
  transform: translate(1.5%, -8%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;

  font-size: 20px;
  text-indent: 15px;
}

.menu-profile {
  width: 120px;
  height: 140px;
  position: absolute;
  top: 29%;
  right: 1.5%;
  transform: translate(1.5%, -29%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;
  /* box-shadow: 10px 10px black; */

  font-size: 20px;
  text-indent: 15px;
}

.menu-notice {
  width: 120px;
  height: 140px;
  position: absolute;
  top: 50%;
  right: 1.5%;
  transform: translate(1.5%, -50%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;

  font-size: 20px;
  text-indent: 15px;
}

.menu-guest {
  width: 120px;
  height: 140px;
  position: absolute;
  bottom: 29%;
  right: 1.5%;
  transform: translate(1.5%, 29%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;

  font-size: 20px;
  text-indent: 15px;
}

.menu-friends {
  width: 120px;
  height: 140px;
  position: absolute;
  bottom: 8%;
  right: 1.5%;
  transform: translate(1.5%, 8%);
  border: 2px solid;
  border-radius: 20px;
  z-index: -1;
  background-color: white;

  font-size: 20px;
  text-indent: 15px;
}

.default-bookmark-hidden {
  width: 15px;
  height: 136px;
  position: absolute;
  top: 5.35%;
  right: -0.7%;
  transform: translate(0.7%, -5.35%);
  border: 0px solid;
  background-color: white;
}

.default-page {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid; */
}

.default-page-image {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0%;
  left: 50px;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 20px;
  background-image: url(../../../public/profile_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 250px;
  border: none;
  border-radius: 20px;
}

.default-page-info {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 0%;
  right: 50px;
  transform: translate(0%, 0%);
}

.default-page-name {
  width: 350px;
  height: 40px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 20px;
}

.default-page-nickname {
  width: 350px;
  height: 40px;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 20px;
}

.default-page-pagename {
  width: 400px;
  height: 40px;
  position: absolute;
  bottom: 10%;
  left: 0%;
  transform: translate(0%, 10%);
  border: 2px solid;
  border-radius: 20px;
}

.default-page-recent-post {
  width: 800px;
  height: 280px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 20px;
}

.default-page-embedvideo {
  width: 800px;
  height: 500px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 2px solid;
  border-radius: 20px;
}

.default-page-introduction {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 61%;
  right: 0%;
  transform: translate(0%, -61%);
  border: 2px solid;
  border-radius: 20px;
}

.profile-bookmark-hidden {
  width: 15px;
  height: 136px;
  position: absolute;
  right: -1.3%;
  top: 27.65%;
  transform: translate(-1.3%, -27.65%);
  border: 0px solid;
  background-color: white;
}

.profile-page-image {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  background-image: url(../../../public/profile_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 350px;
  border: none;
  border-radius: 20px;
}

.profile-settings-form {
  position: absolute;
  width: 780px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 20px;
}

.profile-introduction {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0%;
  right: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 25px;

  resize: none;
  overflow: hidden;
  font-size: 20px;
  padding: 15px;

  margin: 0;
}

.profile-embedlink {
  position: absolute;
  width: 780px;
  height: 50px;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 30%);
  border: 2px solid;
  border-radius: 25px;
  text-indent: 0px;
  text-align: center;

  margin: 0;
}

.profile-embedlink::placeholder {
  text-indent: 0px;
  text-align: center;
}

.profile-nickname {
  position: absolute;
  width: 350px;
  height: 50px;
  bottom: 15%;
  left: 0%;
  transform: translate(0%, 15%);
  border: 2px solid;
  border-radius: 25px;
  text-indent: 0px;
  text-align: center;

  margin: 0;
}

.profile-nickname::placeholder {
  text-indent: 0px;
  text-align: center;
}

.profile-pagename {
  position: absolute;
  width: 350px;
  height: 50px;
  right: 0%;
  bottom: 15%;
  transform: translate(0%, 15%);
  border: 2px solid;
  border-radius: 25px;
  text-indent: 0px;
  text-align: center;

  margin: 0;
}

.profile-pagename::placeholder {
  text-indent: 0px;
  text-align: center;
}

.profile-page-image-change {
  position: absolute;
  width: 350px;
  height: 50px;
  left: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 25px;
  background-color: white;
  text-indent: 0px;

  margin: 0;
}

.profile-submit {
  position: absolute;
  width: 350px;
  height: 50px;
  right: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  border: 2px solid;
  border-radius: 25px;
  text-indent: 0px;
  text-align: center;
  background-color: #BDBDBD;

  margin: 0;
}

.notice-component {
  width: 100%;
  height: 100%;
}

.notice-bookmark-hidden {
  width: 15px;
  height: 136px;
  position: absolute;
  top: 50%;
  right: -1.3%;
  transform: translate(-1.3%, -50%);
  border: 0px solid;
  background-color: white;
}

.notice-page {
  position: relative;
  width: 800px;
  height: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
}

.board-component {
  width: 100%;
  height: 100%;
}

.newpost-component {
  width: 100%;
  height: 100%;
}

.guest-bookmark-hidden {
  width: 10px;
  height: 136px;
  position: absolute;
  bottom: 27.65%;
  right: -0.7%;
  transform: translate(-0.7%, 27.65%);
  border: 0px solid;
  background-color: white;
}

.friend-bookmark-hidden {
  width: 10px;
  height: 136px;
  position: absolute;
  bottom: 5.35%;
  right: -0.7%;
  transform: translate(-0.7%, 5.35%);
  border: 0px solid;
  background-color: white;
}