/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
} */

.mainpage-body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  border: 2px solid;
  border-radius: 20px;
}

.profileImageFrame { /*좌측 상단의 프로필 사진 프레임*/
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 2;
  top: 13%;
  left: 5%;
  background-color: white;
}

.profileImage { /*좌측 상단의 프로필 이미지*/
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 1;
  border: 2px solid;
  border-radius: 16px;
}

.entrace-button { /*미니왑피 입장하기 버튼*/
  width: 340px;
  height: 80px;
  position: absolute;
  z-index: 2;
  top: 23%;
  left: 70%;
  text-align: center;
  font-size: 25px;
  border: 2px solid;
  border-radius: 20px;
  background-color: rgb(67, 67, 255);
  cursor: pointer;
}


.logout-button { /*로그아웃 버튼*/
  width: 110px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 5%;
  left: 85%;
  text-align : center;
  border: 2px solid;
  border-radius: 14px;
  background-color: rgb(255, 109, 109);
  cursor: pointer;
}

.hello-user { /*"안녕하세요 OO님!" 텍스트*/
  width: 200px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 5%;
  left: 70%;
  text-align: right;
}

.horizonline { /*프로필사진과 입장버튼 위치에 놓인 가로선*/
  width:100%;
  height: 1px;
  position:relative;
  top: 7%;
  border : 1px solid;
}

.calendar {
  display: block;
}

.calendar-content { /*캘린더*/
  width: 650px;
  height: 340px;
  position: absolute;
  z-index: 2;
  top: 48%;
  left: 5%;
  border: 2px solid;
  border-radius: 20px;
  background-color: 0,0,0,0;
}

.calendar-title { /*"캘린더" 텍스트*/
  width: 200px;
  height: 50px;
  position: absolute;
  top: 38%;
  left: 7%;
  font-size : 35px;
}

.post-update {
  display: inline-block;
}

.post-update-content { /*게시물 업데이트*/
  width: 650px;
  height: 340px;
  position: absolute;
  top: 48%;
  left: 50%;
  border-radius: 20px;
  border: 2px solid;
}

.post-update-title { /*"게시물 업데이트" 텍스트*/
  width: 270px;
  height: 50px;
  position: absolute;
  top: 38%;
  left: 52%;
  font-size : 35px;
}